<div class="container mt-4">
  <div class="card p-4 shadow-sm border-0" style="border-radius: 15px;">
    <h2 class="text-center mb-4">Gestão de Mantos ⚽</h2>

    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label fw-bold">Nome do Manto:</label>
          <input type="text" [(ngModel)]="produto.nome" name="nome" class="form-control" placeholder="Ex: Grêmio Home 2026">
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold">Preço (R$):</label>
          <input type="number" [(ngModel)]="produto.preco" name="preco" class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold">Quantidade em Estoque:</label>
          <input type="number" [(ngModel)]="produto.estoque" name="estoque" class="form-control" placeholder="0">
        </div>

        <button (click)="salvar()" class="btn btn-success w-100 fw-bold py-2 shadow-sm">
          CADASTRAR MANTO ✅
        </button>
      </div>

      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="border rounded d-flex flex-column align-items-center justify-content-center bg-light w-100" 
             style="height: 250px; border-style: dashed !important; border-width: 2px;">
          <span style="font-size: 40px;">📷</span>
          <p class="mt-2 fw-bold text-secondary">Clique para Escolher a Foto</p>
        </div>
      </div>
    </div>
  </div>
</div>